In [137]:
#Dependencies
import pandas as pd
from pathlib import Path

#Name the CSV files
schools_file = Path('C:\\Users\\stlki\OneDrive\\Desktop\\Homework\\pandas-challenge\\PyCitySchools\\Starter_Code\\PyCitySchools\\Resources\\schools_complete.csv')
students_file = Path('C:\\Users\\stlki\OneDrive\\Desktop\\Homework\\pandas-challenge\\PyCitySchools\\Starter_Code\\PyCitySchools\\Resources\\students_complete.csv')

#Create two data frames
schools_df = pd.read_csv(schools_file)
students_df = pd.read_csv(students_file)

#Combine the data sets
complete_school_data = pd.merge(students_df, schools_df, how = "left", on = ["school_name", "school_name"])
complete_school_data.head()

<>:6: SyntaxWarning: invalid escape sequence '\O'
<>:7: SyntaxWarning: invalid escape sequence '\O'
<>:6: SyntaxWarning: invalid escape sequence '\O'
<>:7: SyntaxWarning: invalid escape sequence '\O'
C:\Users\stlki\AppData\Local\Temp\ipykernel_17416\1204605297.py:6: SyntaxWarning: invalid escape sequence '\O'
  schools_file = Path('C:\\Users\\stlki\OneDrive\\Desktop\\Homework\\pandas-challenge\\PyCitySchools\\Starter_Code\\PyCitySchools\\Resources\\schools_complete.csv')
C:\Users\stlki\AppData\Local\Temp\ipykernel_17416\1204605297.py:7: SyntaxWarning: invalid escape sequence '\O'
  students_file = Path('C:\\Users\\stlki\OneDrive\\Desktop\\Homework\\pandas-challenge\\PyCitySchools\\Starter_Code\\PyCitySchools\\Resources\\students_complete.csv')

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [138]:
#Calculate the total number of schools
school_count = len(complete_school_data["school_name"].unique())
school_count

15

In [139]:
#Calculate the total number of students
student_count = len(complete_school_data["student_name"])
student_count

39170

In [140]:
#Calculate the total budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [141]:
#Calculate the average math score
average_math_score = complete_school_data["math_score"].mean()
average_math_score

78.98537145774827

In [142]:
#Calculate the average reading score
average_reading_score = complete_school_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [143]:
#Calculate the percentage of students who passed math
passing_math_count = complete_school_data[(complete_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [144]:
#Calculate the percentage of students who passed reading
passing_reading_count = complete_school_data[(complete_school_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [145]:
#Calculate the percentage of students who passed both math and reading
passing_math_reading_count = complete_school_data[(complete_school_data["math_score"] >= 70) & (complete_school_data["reading_score"] >= 70)].count()["student_name"]
passing_math_reading_percentage = passing_math_reading_count / float(student_count) * 100
passing_math_reading_percentage

65.17232575950983

In [146]:
#Summarize the data of the district
district_summary = pd.DataFrame({"Total Schools": [school_count],
                                 "Total Students": [student_count],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading": [passing_reading_percentage],
                                 "% Overall Passing": [passing_math_reading_percentage]})
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("{:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [147]:
#Declare the school types
school_types = schools_df.set_index(["school_name"])["type"]

In [148]:
#Calculate the total student count per school
per_school_counts = schools_df.set_index(["school_name"])["size"]

In [149]:
#Calculate the total school budget and per capita spending per school
per_school_budget = schools_df.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts

In [150]:
#Calculate the average test scores per school
per_math_scores = complete_school_data.groupby("school_name")["math_score"].mean()
per_reading_scores = complete_school_data.groupby("school_name")["reading_score"].mean()

In [151]:
#Calculate the number of students with passing math schools per school
passing_math_students = complete_school_data[(complete_school_data["math_score"] >= 70)]
school_passing_math_students = passing_math_students.groupby(["school_name"]).size()

In [152]:
#Calculate the number of students with passing reading scores per school
passing_reading_students = complete_school_data[(complete_school_data["reading_score"] >= 70)]
school_passing_reading_students = passing_reading_students.groupby(["school_name"]).size()

In [153]:
#Calculate the number of students with both passing math and reading scores per school
passing_math_reading_students = complete_school_data[(complete_school_data["reading_score"] >= 70) & (complete_school_data["math_score"] >= 70)]
school_passing_math_reading_students = passing_math_reading_students.groupby(["school_name"]).size()

In [154]:
#Calculate the passing rates
per_school_passing_math = school_passing_math_students / per_school_counts * 100
per_school_passing_reading = school_passing_reading_students / per_school_counts * 100
per_school_passing_overall = school_passing_math_reading_students / per_school_counts * 100

In [155]:
#Summarize the data of the schools
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_math_scores,
                                   "Average Reading Score": per_reading_scores,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": per_school_passing_overall})
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [177]:
#Sort the schools by highest overall passing percentage
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [179]:
#Sort the schools by lowest overall passing percentage
bottom_schools = per_school_summary.sort_values("% Overall Passing")
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [265]:
#Sort the math scores by grade
ninth_graders = complete_school_data[(complete_school_data["grade"] == "9th")]
tenth_graders = complete_school_data[(complete_school_data["grade"] == "10th")]
eleventh_graders = complete_school_data[(complete_school_data["grade"] == "11th")]
twelfth_graders = complete_school_data[(complete_school_data["grade"] == "12th")]

#Group by school and calculate average of math score for each
ninth_grade_math_scores = complete_school_data(complete_school_data[ninth_graders]).mean()
tenth_grade_math_scores = complete_school_data(complete_school_data["school_name"])[tenth_graders].mean()
eleventh_grade_math_scores = complete_school_data(complete_school_data["school_name"])[eleventh_graders].mean()
twelfth_grade_math_scores = complete_school_data(complete_school_data["school_name"])[twelfth_graders].mean()

#Combine scores into data frame
math_scores_by_grade = pd.DataFrame([ninth_grade_math_scores, tenth_grade_math_scores, eleventh_grade_math_scores, twelfth_grade_math_scores])
math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]
math_scores_by_grade.index.name = None
math_scores_by_grade

ValueError: Boolean array expected for the condition, not object

In [ ]:
#Sort the reading scores by grade
ninth_graders = complete_school_data[(complete_school_data["grade"] == "9th")]
tenth_graders = complete_school_data[(complete_school_data["grade"] == "10th")]
eleventh_graders = complete_school_data[(complete_school_data["grade"] == "11th")]
twelfth_graders = complete_school_data[(complete_school_data["grade"] == "12th")]

#Group by school and calculate average of reading score for each
ninth_grade_reading_scores = 
tenth_grade_reading_scores = 
eleventh_grade_reading_scores = 
twelfth_grades_reading_scores = 

#Combine scores into data frame
reading_scores_by_grade = 
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None
reading_scores_by_grade

In [245]:
#Create the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [249]:
#Create a copy of the school summary
school_spending_df = per_school_summary.copy()
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [247]:
#Use the cut to place data into bins
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], spending_bins, labels = labels)
per_school_summary

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
#Calculate averages of data frame
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
spending_passing_overall = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
#Create spending data frame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores,
                                 "Average Reading Score": spending_reading_scores,
                                 "% Passing Math": spending_passing_math,
                                 "% Passing Reading": spending_passing_reading,
                                 "% Overall Passing": spending_passing_overall})
spending_summary

In [211]:
#Create the bins
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [213]:
#Use the cut to place data into bins 
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels = labels)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [217]:
#Calculate the averages of data frame
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_passing_overall = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

C:\Users\stlki\AppData\Local\Temp\ipykernel_17416\3447127544.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\stlki\AppData\Local\Temp\ipykernel_17416\3447127544.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\stlki\AppData\Local\Temp\ipykernel_17416\3447127544.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\stlki\AppData\Local\Temp\ipykernel_17416\3447127544.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\stlki\AppData\Local\Temp\ipykernel_17416\3447127544.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_overall = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [219]:
#Create size data frame
size_summary = pd.DataFrame({"Average Math Score": size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing": size_passing_overall})
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [225]:
#Group the data by school type and average
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percentage_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percentage_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percentage_passing_overall_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [227]:
#Create school type data frame
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type,
                             "Average Reading Score": average_reading_score_by_type,
                             "% Passing Math": average_percentage_passing_math_by_type,
                             "% Passing Reading": average_percentage_passing_reading_by_type,
                             "% Overall Passing": average_percentage_passing_overall_by_type})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208